@import "tailwindcss";

@theme {
  --color-violet-dark: #343045;
  --color-violet: #c0b7e8;
  --color-violet-30: #c0b7e84d;
  --color-violet-dark-30: #0e0e0e4d;
  --color-white: #ffffff;
  
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #343045; /* Default to dark violet background */
  --foreground: #ffffff;  /* Default to white text */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}
